.app {
  height: 1000px;
  display: flex;
  justify-content: center;
  position: relative;
}
.app > span {
  font-size: 32px;
  z-index: 999;
}
.app__content {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.app__content:nth-child(2) {
  margin-left: 1280px;
}
.app__content:nth-child(3) {
  margin-left: 2540px;
}
.app__content__item {
  width: 14%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: white;
}
.app__content:nth-child(2) > .app__content__item {
  background-color: aquamarine;
}
.app__content:nth-child(3) > .app__content__item {
  background-color: beige;
}
@media screen and (max-width: 1000px) {
    .app__content {
      width: 880px;
    }
    .app__content__item {
      width: 16%;
    }
    .app__content:nth-child(2) {
      margin-left: 1260px;
    }
    .app__content:nth-child(3) {
      margin-left: 2520px;
    }
}


